* {
  text-decoration: none;
}

.navbar {
  background: crimson;
  font-family: Calibri;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}
